<div class="todo-wrap">
    <form [formGroup]='todoForm' (ngSubmit)="onSubmit()" class="form-wrap">
        <input type="text" formControlName="title" placeholder="Task Name*" />
        <input type="text" formControlName="description" placeholder="Remark*" />
        <button type="submit">{{isEditMode?'Update':'Add'}}</button>
        <button type="button" *ngIf="isEditMode" (click)="cancleEdit()">Cancle</button>
    </form>

    <div class="default" *ngIf="todos.length==0; todoList"><span>Please add your tasks</span></div>

    <ul class="todo-list" #todoList>
        <li *ngFor="let todo of todos" [ngClass]="todo.isCompleted?'green':''">
            <div>
                <input type="checkbox" [checked]="todo.isCompleted" (click)="toggleComplete(todo)" />
            </div>
            <div class="todo-content">
                <div>
                    <span>{{todo.title}} | {{todo.description}}</span>
                </div>
                <div class="gap-10">
                    <button (click)="onEdit(todo)">Edit</button>
                    <button (click)="onDelete(todo.id)">Delete</button>
                </div>
            </div>
        </li>
    </ul>

    


</div>